
body {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #333;
    margin: 0;
    padding: 0;
}

.container2 {
    display: flex;
    justify-content: center;
    padding: 40px;
    margin-top: 100px;
}

.text1 {
    width: 45%; 
    padding: 20px;
    font-size: 16px;
    color: #333;
}

.container2 h1{
    font-size: 30px;
}

h1 {
    font-size: 20px;
    color: #6c757d; 
}

h2 {
    font-size: 2rem;
    color: #8828ad;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
}

.select-container {
    width: 45%; 
    padding: 20px;
}

h5 {
    font-size: 1.25rem;
    margin-bottom: 15px;
    color: #6c757d;
}

#opciones {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 6px;
    background-color: #f8f0fb;
    border: 1px solid #a33194;
    color: #a33194;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#opciones:focus {
    border-color: #dca8d3; 
    outline: none;
}

.cursor {
    cursor: pointer;
}

.mt-5 {
    margin-top: 30px;
}

.pt-3 {
    padding-top: 15px;
}
