body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    padding: 20px;
}

.contenedor {
    margin-top: 100px;
    position: relative;
    display: inline-block;
    background-image: url('../img/reto7/mapa.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 600px;
    height: 400px;
}

area {
    cursor: pointer;
    background: rgba(214, 74, 195, 0.3);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
}

area:nth-child(1) { 
    left: 120px;
    top: 117px;
}

area:nth-child(2) { 
    left: 293px;
    top: 174px;
}

area:nth-child(3) { 
    left: 410px;
    top: 168px;
}

area:nth-child(4) { 
    left: 112px;
    top: 221px;
}

area:nth-child(5) {
    left: 386px;
    top: 275px;
}

.info {
    margin-top: 20px;
    display: none;
    background: #fff;
    padding: 15px;
    border: 1px solid #a33194;
    border-radius: 5px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    color: #a33194;
}

.info h3 {
    margin-top: 0;
    color: #a33194;
    margin-bottom: 10px;
}
.opciones {
    text-align: left;
    margin-top: 20px;
    display: inline-block;
}

