* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     color: #a33194;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    margin-top: 100px;
}

.card-header{
    color: white;
    background-color: #e64980;
}


h1 {
   color: #a33194;
    margin-bottom: 30px;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #a33194;
}



input, select {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid#a33194;
    color: #a33194;
    outline: none;
}



.boton1{
    background-color: #a33194;
    transition: all 0.3s ease;
    color: white;
    border: none;
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
}

.boton1:hover {
    color: white;
    background-color: #e64980;
}

.boton2{
    background-color: #FF4B5C;
    transition: all 0.3s ease;
    color: white;
    border: none;
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
}

.boton2:hover {
    background-color: #ff6e7d;
    color: white;
    margin-left: 10px;
}

hr {
    border: 1px solid #a33194;
    width: 100%;
    margin: 20px 0;
}

#resultado {
    font-size: 18px;
    margin-top: 10px;
    color: #8d8d8d;
    font-weight: bold;
}

