body {
    font-size: 22px;
}

.container{
    margin-top: 120px;
}

p {
    font-size: 22px;
}



.inicio {
    border-bottom: 1px solid rgb(143, 50, 50);
}


.logo2 img {
    width: 70%;
}

h2 {
    font-size: 25px;
    letter-spacing: 2px;
}

h4 {
    font-size: 17px;
    letter-spacing: 2px;
}

select {
    width: 100%;
    padding: 3px 20px;
}

.imagen img {
    width: 100%;
}


body {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #333;
    background-color: #f9f9f9; 
    margin: 0;
    padding: 0;
}


.container {
    padding: 40px;
    margin-top: 100px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.inputs {
    padding: 20px;

    border-radius: 8px;
    border: 1px solid #fdd9f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2, h4 {
    color: #a33194;
}


select {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 6px;
    background-color: #f8f0fb;
    border: 1px solid #a33194;
    color: #a33194;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


select:focus {
    outline: none;
    box-shadow: none;
    border-color: #e64980;
}


select option[disabled] {
    color: #888;
    background-color: #f3f4f6;
}


.boton{
  background-color: #a33194;
  transition: all 0.3s ease;
  color: white;
}

.boton:hover{
  background-color:  #e64980;
color: white;
}


.logo2 img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
