body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}




/* --------------------- HEADER --------------------- */

header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    padding:20px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-header {
    justify-content: center;
    align-items: center;
    background-color: white;
    padding:12px 30px;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.imagen-fondo {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 20px;
   
}


.container {
    background-color: white;
    margin-top: 150px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

form {
    display: flex;
    gap: 20px;
}

.form-inputs, .resultados{
    flex: 1;
}

form div {
    margin-bottom: 15px;
}

form label {
    font-weight: bold;
    color: #a33194;
}

form input[type="text"], form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid#a33194;
    font-size: 16px;
}

form input[type="text"], form input[type="number"]:focus {
    border-color: #dca8d3; 
    outline: none;
}

.pt-3 {
    margin-top: 20px;
}

input[type="button"] {
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

#btnCalcular {
    background-color: #a33194;
    transition: all 0.3s ease;
    color: white;
}

#btnCalcular:hover {
     background-color:  #e64980;
   color: white;
}



.limpiar{
    background-color: #FF4B5C;
    color: white;
    margin-left: 10px;
}

.limpiar:hover {
    background-color: #ff6e7d;
    color: white;
    margin-left: 10px;
}


.resultados {
    margin-top: 20px;
    background-color:  #f8f0fb;
    padding: 15px;
    border-radius: 8px;
}

.negrita {
    font-weight: bold;
  color: #a33194;
}


#txtResultadoCliente{
    border-bottom: #FF4B5C;
}
