body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

.container {
    background-color: white;
    margin-top: 150px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

form {
    display: flex;
    gap: 20px;
}

.form-inputs, .resultados{
    flex: 1;
}

form div {
    margin-bottom: 15px;
}

form label {
    font-weight: bold;
}

form input[type="text"], form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.pt-3 {
    margin-top: 20px;
}

input[type="button"] {
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

#btnCalcular {
    background-color: #007BFF;
    color: white;
}

input[type="button"]:nth-child(2) {
    background-color: #FF4B5C;
    color: white;
    margin-left: 10px;
}

.resultados {
    margin-top: 20px;
    background-color: #f0f8ff;
    padding: 15px;
    border-radius: 8px;
}

.negrita {
    font-weight: bold;
}

footer {
    margin-top: 20px;
}

.menu-links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.menu-enlace-footer {
    text-decoration: none;
    color: #333;
}

.copyRight {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}
